attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
ConfigParser==7.2.0
cryptography==45.0.5
docutils==0.21.2
filelock==3.18.0
Flask==3.1.1
h2==4.2.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
ollama==0.5.1
protobuf==6.31.1
pyodide==0.0.2
pyOpenSSL==25.1.0
redis==6.2.0
simplejson==3.20.1
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
